@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .description-order {
    @apply min-h-[30px] w-full bg-red-300 border border-white border-solid rounded-[15px] flex flex-row justify-between items-center pl-5 text-lg;
  }
  .size {
    @apply size-[40px] border-2 border-red-400 border-solid rounded-[10px] flex items-center justify-center cursor-default hover:border-black;
  }
}

/* html {
  textarea,
  input,
  select,
  option,
  button {
    font-family: 'Times New Roman', Times, serif;
  }
  font-family: 'Times New Roman', Times, serif;
} */

body {
  margin: 0 auto;
  max-width: 1700px;
  background-color: black;
  font-size: 18px;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  ul {
    list-style: none;
  }
  textarea,
  input,
  select,
  option,
  button {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
  }
  font-family: 'Times New Roman', Times, serif;
}
input::placeholder {
  color: rgb(113, 112, 112);
  font-size: 20px;
}
